* {
	margin: 0px;
	padding: 0px;
	font-family: Viga;
}

body {
	height: 637px;
	background-image:url(loginpic.jpg);
	background-size:cover;
	background-attachment:fixed;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: fixed;
	padding: 60px;
	border-radius: 30px;
	box-shadow: 0 0 35px;
}

.main h2 {
	text-align: center;
	color: white;
	text-transform: uppercase;
}

.button {
	width: 80px;
	height: 80px;
	font-size: 30px;
	margin: 2px;
	cursor: pointer;
	border: none;
	background: #191970;
	color: white;
	border-radius: 35px;
}

.btn-black {
	background:black;
	color:white;
}

.textarea {
	width:318px;
	margin: 4px;
	font-size: 30px;
	padding: 20px;
	border: none;
	color: black;
	border-radius: 40px;
	text-align: right;
}
